/* Add a variable for the theme */
:root {
    --theme: light; /* Set to 'dark' for dark theme */
  }
  
  /* Define the colors for each theme */
  :root.light {
    --bg-color: #dee1db;
    --primary-color: #8fbef4;
    --secondary-color: #f2dc81;
    --accent-color: #abd5e6;
    --text-color: #000000;
  }
  
  :root.dark {
    --bg-color: #323035;
    --primary-color: #a9c7f3;
    --secondary-color: #343755;
    --accent-color: #fbcd13;
    --text-color: #e5dcf4;
  }
  
  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: var(--text-color); /* Use the text color variable */
      background-color: var(--bg-color); /* Use the background color variable */
      margin: 0;
      overflow: hidden;
  }
  
  .container {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      max-width: 1200px;
  }
  
  .image-container {
      flex: 1 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
      height: 100vh;
      overflow: auto;
      border: 2px solid var(--primary-color); /* Use the primary color variable */
  }
  
  .image-container img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
  }
  
  .content {
      flex: 1 0 100%;
      margin-left: 0;
      font-size: 18px;
      color: var(--text-color); /* Use the text color variable */
  }
  
  .content ul {
      list-style-type: none;
      padding: 0;
  }
  
  .content a {
      color: var(--text-color); /* Use the text color variable */
      text-decoration: none;
      display: block;
      padding: 10px 0;
      transition: background-color 0.3s ease;
  }
  
  .content a:hover {
      color: var(--primary-color); /* Use the primary color variable */
      background-color: var(--secondary-color); /* Use the secondary color variable */
  }
  
  @media (min-width: 768px) {
      .image-container {
          flex: 1 0 50%;
          margin-right: 0px;
          height: 100vh;
          overflow: hidden;
      }
  
      .image-container img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
      }
  
      .content {
          flex: 1 0 300px;
          margin-left: 20px;
          background-color: var(--accent-color); /* Use the accent color variable */
          padding: 20px;
      }
  }
  